/* fonts start */
@font-face {
    font-family: "Baloo 2";
    src: url("./fonts/Baloo2-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
font-style: normal;
}
/* fonts end */
/* general start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    font-family: "Baloo 2", sans-serif;
    letter-spacing: 1px;
}
*:not(i){
    font-size: 18px;
}
/* general end */
/* global start */
.rowFlexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.columnFlexContainer{
    display: flex;
    flex-direction: column;
}
.rowFlexItem{
    margin: 5px;
    padding: 5px;
}
.rowFlexItem.mainSkills{
    /* border-radius: 5px; */
    color: var(--lighter);
}
strong{
    font-size: 22px;
    color: var(--bright);
}
/* global end */
/* template color variables start */
:root{
    --backgroundColor: #000000;
    --mainColor: #0069ff;
    --transparentMain: #2b3c53;
    --lighter: #abe2ff;
    --hoverColor: #4176c2;
    --bright: #ffffff;
    --gradientTrasnparent: linear-gradient(-90deg, var(--transparentMain), transparent);

    --transparentBright: #ffffffaa;
    --secondColor: #375d8e;
    --whiteGradientTrasnparent: linear-gradient(45deg, var(--bright), transparent);

    --highlightColor: #00ffef;
}
/* template color variables end */
/* html and body start */
html, body{
    background-color: var(--bright);
    overflow: hidden;
    height: 100%;
}
/* html and body end */
/* site scontainer start */
.siteContainer{
    /* background-image: url('./images/meMySelfAndI.jpg'); */
    width: 100vw;
    height: 100%;
    background-size: cover;
    padding: 100px 125px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    position: relative;
    background-position-x: center;
}
.developedBy{
    font-size: 14px;
    color: var(--bright);
    position: absolute;
    top: calc(100vh - 100px);
    left: 125px;
    z-index: 2;
}
/* site scontainer end */
/* tabs start */
.tabContainer{
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
    flex-direction: column-reverse;
}
.siteContainer .tabContainer#tabContent04{
    justify-content: center;
}
.siteContainer .tabContainer#tabContent04 .secondInfo{
    overflow: scroll;
    max-height: 60vh;
}
/* left side start */
.siteContainer .tabContainer .siteLeftSide{
    height: fit-content;
}
.siteContainer .fullName{
    font-size: 30px;
    text-transform: uppercase;
    color: var(--bright);
}
.siteContainer .mainInfo{
    height: 25px;
    min-height: 25px;
    font-size: 14px;
    max-width: fit-content;
    padding: 5px;
    /* border-radius: 5px; */
    background-color: var(--bright);
    /* border-radius: 5px; */

}
.siteContainer .tabContainer .yearsExperience{
    /* max-width: 300px; */
    color: var(--bright);
    justify-content: space-between;
    /* background: var(--gradientTrasnparent); */
    /* border-radius: 5px; */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #999999 #dddddd;
}
.siteContainer .tabContainer#tabContent04 .yearsExperience{
    justify-content: center;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.siteContainer .tabContainer#tabContent01 .yearsExperience:first-of-type{
    /* background: var(--transparentBright); */
    /* border-radius: 5px; */
    color: var(--bright);
    background-color: #0000008b;
    border-radius: 50px;
}
.siteContainer .tabContainer .secondInfo .resumeWord{
    display: flex;
    align-items: center;
}
/* .siteContainer .tabContainer .secondInfo .resumeWord span{
    font-weight: bold;
} */
.siteContainer .tabContainer .secondInfo .resumeWord span{
    padding: 0 5px;
}
.siteContainer .tabContainer .secondInfo a.downloadResume{
    font-size: 30px;
    width: fit-content;
    text-decoration: none;
    text-align: center;
}
.siteContainer .tabContainer .secondInfo a.downloadResume.pdf,
.siteContainer .tabContainer .secondInfo a.downloadResume:active.pdf,
.siteContainer .tabContainer .secondInfo a.downloadResume:visited.pdf{
    color: #f40f02;
}
.siteContainer .tabContainer .secondInfo a.downloadResume.word,
.siteContainer .tabContainer .secondInfo a.downloadResume:active.word,
.siteContainer .tabContainer .secondInfo a.downloadResume:visited.word{
    color: #00a2ed;
}
.siteContainer .tabContainer .secondInfo a.downloadResume.github,
.siteContainer .tabContainer .secondInfo a.downloadResume:active.github,
.siteContainer .tabContainer .secondInfo a.downloadResume:visited.github{
    color: #2DBA4E;
}
.siteContainer .tabContainer .secondInfo a.downloadResume.linkedin,
.siteContainer .tabContainer .secondInfo a.downloadResume:active.linkedin,
.siteContainer .tabContainer .secondInfo a.downloadResume:visited.linkedin{
    color: #0E76A8;
}
.siteContainer .tabContainer .secondInfo a.downloadResume.facebook,
.siteContainer .tabContainer .secondInfo a.downloadResume:active.facebook,
.siteContainer .tabContainer .secondInfo a.downloadResume:visited.facebook{
    color: #3B5998;
}
.siteContainer .tabContainer .secondInfo a.downloadResume.codepen,
.siteContainer .tabContainer .secondInfo a.downloadResume:active.codepen,
.siteContainer .tabContainer .secondInfo a.downloadResume:visited.codepen{
    color: var(--bright);
}
.siteContainer .tabContainer .secondInfo .websiteScreenshot{
    width: 130px;
    height: 130px;
}
.siteContainer .tabContainer .secondInfo .websiteScreenshot img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border: solid 3px var(--bright); */
}
.siteContainer .tabContainer .secondInfo a.downloadResume span{
    font-size: 27px;
    width: fit-content;
    font-weight: bold;
}
.siteContainer .tabContainer .secondInfo .websiteTitle{
    font-size: 15px;
    color: var(--bright);
    font-weight: bold;
    padding-top: 10px;
}
.siteContainer .tabContainer .secondInfo a.downloadResume:hover .websiteScreenshot img{
    border-color: var(--mainColor);
}
.siteContainer .tabContainer .secondInfo a.downloadResume:hover .websiteTitle{
    color: var(--mainColor);
}
.siteContainer .tabContainer .secondInfo{
    margin-top: 30px;
}
/* left side end */
/* small face image start */
.siteContainer .pictureOnMobile{
    width: 200px;
    height: 200px;
    min-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px;
    display: none;
}
.siteContainer .pictureOnMobile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* small face image end */
/* right side start */
.siteContainer .tabContainer .siteRightSide{
    /* max-width: 25vw; */
    color: var(--bright);
}
.siteContainer .tabContainer .siteRightSide .myArtLogo{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 90px;
    border-radius: 50%;
    margin: 20px auto !important;
}
.siteContainer .tabContainer .siteRightSide .myArtLogo img{
   width: 100%;
   border-radius: 50%;
}
.siteContainer .tabContainer .siteRightSide .myArtLogo img:hover{
   box-shadow: 0 0 5px #ffad00;
}
.siteContainer .tabContainer .siteRightSide .contactOneLine,
.siteContainer .tabContainer .siteRightSide .contactOneLine:hover,
.siteContainer .tabContainer .siteRightSide .contactOneLine{
    margin: 5px 0;
    color: var(--bright);
    text-decoration: none;
    display: inline-block;
}
.siteContainer .tabContainer .siteRightSide .rightSpecialites{
    max-width: 15vw;
    float: right;
    margin-top: 1rem;
    font-size: 14px;
}
/* right side end */
/* tabs end */
/* hover bar start */
.hoverBarContainer{
    position: fixed;
    top: 85vh;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hoverBarContainer .hoverBarBody{
    background-color: var(--transparentMain);
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    align-items: center;
    color: var(--bright);
    overflow: hidden
}
.hoverBarContainer .hoverBarBody .tabLink{
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hoverBarContainer .hoverBarBody .tabLink:hover{
    background-color: var(--hoverColor);
    color: var(--bright);
}
.hoverBarContainer .hoverBarBody .tabLink.active{
    background-color: var(--mainColor) !important;
    color: var(--bright);
}
/* hover bar end */
/* javascript classes start */
.showTab{
    display: flex !important;
}
/* javascript classes end */
/* media start */
@media only screen and (max-width: 1000px){
    .siteContainer{
        padding: 75px;
    }
    .developedBy{
        top: calc(100vh - 75px);
        left: 75px;
    }
}
@media only screen and (max-width: 830px){
    .siteContainer{
        padding: 35px;
    }
    .developedBy{
        /* top: calc(100vh - 115px); */
        left: 35px;
    }
}
@media only screen and (max-width: 740px){
    .siteContainer{
        background-position-x: 30%;
    }
    .developedBy{
        width: 100%;
        left: 0;
        text-align: center;
        /* padding-top: 20px; */
    }
    .siteContainer .tabContainer{
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
    }
    .siteContainer .tabContainer .siteLeftSide{
        margin-bottom: 50px;
    }
    .siteContainer .tabContainer .siteRightSide{
        /* max-width: 300px; */
    }
    .siteContainer .tabContainer .siteRightSide .rightSpecialites{
        max-width: unset;
        float: unset;
    }
}
@media only screen and (max-width: 560px){
    .siteContainer{
        background-image: none;
        /* background-color: var(--backgroundColor); */
        padding-top: 85px;
        align-items: center;
    }
    .developedBy{
        /* position: unset; */
        margin-top: 0;
        top: calc(100vh - 35px);
        width: 100%;
        left: 0;
        text-align: center;
    }
    .siteContainer .tabContainer{
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 15px;
    }
    .hoverBarContainer{
        top: 25px;
    }
    .hoverBarContainer .hoverBarBody{
        /* border-radius: 0; */
        flex-wrap: wrap;
        height: auto;
    }
    .hoverBarContainer .hoverBarBody .tabLink{
        padding: 10px;
        height: unset;
    }
    .hoverBarContainer .hoverBarBody .tabLink:hover{
        color: #fff;
        background-color: unset;
    }
    .siteContainer .tabContainer .secondInfo{
        margin-top: 0;
    }
    .siteContainer .tabContainer .siteLeftSide{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .siteContainer .pictureOnMobile{
        display: block;
    }
}
/* media end */
/* main background start */
.backgroundMain {
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.3; */
    /* max-height: 600px; */
    width: 100%;
    background-color: hsla(200, 86%, 14%, 0.4);
    background-image:
      url('./images/stars.png'),
      /* url('./images/human.png'), */
      url('./images/effects.png'),
      url('./images/clouds.png'),
      url('./images/space.jpg');
    background-repeat: repeat-x;
    background-position:
      0 100%,
      /* 50% -20%, */
      0 80%,
      0 100%,
      0 0;
    background-size:
      2500px,
      1400px,
      cover,
      cover,
      cover;
    animation: 50s para infinite linear, 10s hueBackground infinite linear;
    }

  @keyframes para {
    100% {
      background-position:
        -5000px 20%,
        /* 500px -20%, */
        -800px 95%,
        1000px 100%,
        400px 0;
      }
    }
    @keyframes hueBackground {
        0%{
            filter: hue-rotate(0deg);
        }
        50%{
            filter: hue-rotate(360deg);
        }
        0%{
            filter: hue-rotate(0deg);
        }
    }
/* main background end */
/* typing animation start */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(40, end);
  }
/* typing animation end */
/* light effect start */
.lightEffect{
    position: absolute;
    width: 200px;
    height: 200px;
    /* z-index: 1; */
    background-color: var(--backgroundColor);
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 50%;
    opacity: 0.5;
    /* box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
    box-shadow: 0 0 10px #fff, 0 0 200px #fff, 0 0 300px #e60073, 0 0 400px #e60073, 0 0 500px #e60073, 0 0 600px #e60073, 0 0 700px #e60073;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
/* light effect end */
/* popup onstart start */
#popupOnStart{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--backgroundColor);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bright);
}
#popupOnStart.hidePopup{
    pointer-events: none;
    opacity: 0;
}
#popupOnStart .button{
    background-color: #0000;
    border: none;
    color: var(--bright);
    font-size: 35px;
    transform: rotate3d(1, 1, 1, -72deg);
    width: 200px;
    height: 100px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;

    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
/* #popupOnStart .button:active{
    transform: scale(3)
} */
/* #popupOnStart .button.clickedButton{
    overflow: hidden;
} */
#popupOnStart .button::after{
    content: 'START';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
#popupOnStart .buttonEffect{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.3;
    border-radius: 25px;
}
#popupOnStart .buttonEffect:hover{
    width: 105%;
    height: 105%;
    top: -2.5%;
    left: -2.5%;
}
#popupOnStart .buttonEffect:hover:not(.edge){
    filter: hue-rotate(70deg) !important;
    opacity: 0.5;
}
#popupOnStart .front{
    background-color: var(--mainColor);
    box-shadow: 0 0 15px var(--mainColor);
    width: 100%;
    height: 100%;
}
#popupOnStart .button.clickedButton .front, #popupOnStart .button.clickedButton::after{
    transform: translate3d(-27px, 20px, 0) scale(0.95);
}
#popupOnStart .shadow{
    background-color: var(--hoverColor);
    box-shadow: 0 0 15px var(--hoverColor);
    transform: translate3d(-40px, 30px, 0);
    width: 100%;
    height: 100%;
}
#popupOnStart .edge{
    background-color: var(--transparentMain);
    box-shadow: 0 0 15px var(--transparentMain);
    transform: translate3d(-60px, 60px, 0);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.buttonEffect {
    filter: brightness(1.5) hue-rotate(30deg);
    animation: light-filter 1s infinite;
}

@keyframes light-filter {
    0% {
        filter: brightness(1.5) hue-rotate(30deg);
        box-shadow: 0 0 15px var(--highlightColor), 0 0 20px var(--highlightColor);
    }
    50% {
        filter: brightness(1) hue-rotate(0deg);
        box-shadow: 0 0 15px var(--hoverColor), 0 0 20px var(--hoverColor);
    }
    100% {
        filter: brightness(1.5) hue-rotate(30deg);
        box-shadow: 0 0 15px var(--highlightColor), 0 0 20px var(--highlightColor);
    }
}
#popupOnStart .button::after{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    animation: glowing 1s infinite;
}
@keyframes glowing {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 30px #fff;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 10px #fff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 30px #fff;
    }
}
/* popup onstart end */
